<!DOCTYPE html>
<html lang="en" xmlns:>
<head>
    <meta charset="UTF-8">
    <title>Register Account</title>
</head>
<style>
    .button {
        text-align: center;
        background-color: #FFFFFF
    }

    .button:hover {
        background-color: #33FFCC
    }
</style>
<body>
    <h1>What would you like to translate? </h1>
    <form method="post">
        <div>
         <input type="text" name = "text"> 
         <input type = "submit"> 
         <input type="reset" value="Clear">
        </div>
    </form>
</body>
</html>